# === Virtual Environment ===
venv/
.venv/
env/
ENV/

# === Python Cache & Compiled Files ===
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
doc/build/
.pytest_cache/

# === Database Lokal (Wajib Di-ignore!) ===
# agar history testing di laptop tidak mengotori server cloud
*.db
*.sqlite3

# === OS & IDE Metadata ===
.vscode/
.idea/
.DS_Store
Thumbs.db